.app-wrapper {
  background-color: rgb(159, 162, 168);
  background-image: linear-gradient(10deg, rgba(0, 0, 0, 0.5) 0%, rgb(47, 47, 47) 80%);
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-size: calc(4px + 2vmin);
  color: white;
}

.app-content {
  padding-left: 1%;
  overflow-y: auto;
}

.app-content .section-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
