div.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.login-form label {
  text-align: center;
}

div.login-form button,
div.login-form label {
  margin-top: 2px;
  width: 100%;
}

.post-info {
  width: 55vw;
}

@media screen and (max-width: 767px) {
  .post-info {
    width: 100%;
    color: red;
  }
}
