<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Chat room</a>
    <ul>
      <li>
        <a href="/profil">Profil</a>
      </li>
      <li>
        <a href="/chatrooms">Your rooms</a>
      </li>
      <li>
        <a href="/ranges">Ranges</a>
      </li>
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
        <form action="logout" method="POST" class="logout-form">
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </nav>
</header>
