<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Chat application</title>
    <!-- <script defer src="/socket.io/socket.io.js"></script> -->
    <script
      defer
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include("../partials/header.ejs") %> <%- body %>
    <br />
  </body>
</html>
