table.profil-details {
  width: 100%;
  overflow-x: auto;
  table-layout: fixed;
}

table.profil-details tr {
  width: 25%;
}

table.profil-details td {
  width: 25%;
  max-width: 25%;
  overflow-x: auto;
  word-wrap: normal;
}
table.profil-details td:not(:first-child) {
  border-left: 1px solid rgb(82, 80, 80);
}
