<a class="create-room-link" href="chatroom">
  <button class="btn-form-primary">Create room</button>
</a>
<% chatRooms.forEach(room=>{ %>
<div class="chat-room-container">
  <button class="chat-room-button" value="<%= room.id %>">
    <%= room.name %>
  </button>
</div>

<% }) %> <% chatRooms.forEach(room=>{ %> <%- include("partials/chat-windows",
{roomName:room.id, chatName:room.name, messages:messages }) %> <% }) %>

<script defer src="/js/messages.js"></script>
