<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script defer src="/js/chat-functions.js"></script>
    <script
      defer
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>
    <script defer src="/js/messages.js"></script>
    <title>Chat application</title>
  </head>

  <body>
    <div class="chat-container" id="chat-container">
      <div class="chat-window" id="chat-window">
        <%- include("partials/msg-database") %>
      </div>
      <div class="user-list-window">
        <h5 class="user-list-header">USERS</h5>
        <span class="user-list"></span>
      </div>
      <div class="chat-info"></div>
      <form action="" class="chat-form" id="chat-form">
        <textarea
          name="message"
          class="message-window"
          placeholder="Type message to send"
        ></textarea>
        <button class="btn-primary" type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
