<%-include("partials/create-room-btn", {href: "chatrooms/create"});%> <%
chatRooms.forEach(room=>{ %>
<div class="chat-room-container">
  <button class="chat-room-button" value="<%= room.id %>">
    <%= room.name %>
  </button>
</div>

<% }) %> <% chatRooms.forEach(room=>{ %> <%- include("partials/chat-windows",
{roomName:room.id, chatName:room.name, messages:messages[room.id] }) %> <% }) %>

<script defer src="/js/messages.js"></script>
