<form class="primary-form" action="/register" method="POST">
  <label for="username"> Username: </label>
  <input name="username" type="text" placeholder="Username" />
  <label for="password"> Password: </label>
  <input name="password" type="password" placeholder="Password" />
  <label for="firstname"> Firstname: </label>
  <input name="firstname" type="text" placeholder="Firstname" />
  <label for="surname"> Surname: </label>
  <input name="surname" type="text" placeholder="Surname" />
  <label for="birthday"> Birthday: </label>
  <input name="birthday" type="date" placeholder="Birthday" />
  <label for="country"> Country: </label>
  <input name="country" type="text" placeholder="Country" />
  <label for="gender"> Gender: </label>
  <input name="gender" type="text" placeholder="Gender" />
  <label for="nickColor"> Nick color: </label>
  <input name="nickColor" type="text" placeholder="Nick color" />
  <label for="email"> E-mail: </label>
  <input name="email" type="text" placeholder="E-mail" />
  <label for="phoneNumber"> Phone number: </label>
  <input name="phoneNumber" type="number" placeholder="Phone number" />
  <button class="btn-form-primary" type="submit">Register</button>
</form>
