<form class="primary-form" action="/register" method="POST">
  <label for="username"> Username: </label>
  <input name="username" type="text" placeholder="Username" />
  <label for="password"> Password: </label>
  <input name="password" type="password" placeholder="Password" />
  <label for="firstname"> Firstname: </label>
  <input name="firstname" type="text" placeholder="Firstname" />
  <label for="surname"> Surname: </label>
  <input name="surname" type="text" placeholder="Surname" />
  <label for="birthday"> Birthday: </label>
  <input name="birthday" type="date" placeholder="Birthday" />
  <button class="btn-form-primary" type="submit">Register</button>
</form>
