.app-navigation {
  border: 0.1rem solid black;
  box-shadow: 0.1rem 0.1rem 0.5rem gray;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Lucida Console", "Courier New", monospace;
  justify-content: space-between;
  padding: 15px;
}

.nav-ul {
  display: flex;
  align-items: center;
  font-size: 2vmax;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.nav-ul li .nav-li-link,
.nav-ul li .nav-li-button {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.home-site-link {
  font-size: 5vmax;
  text-decoration: none;
  color: black;
}

.nav-ul li .nav-li-link:hover,
.home-site-link:hover {
  color: darkgray;
}

@media screen and (max-width: 767px) {
  ul.nav-ul {
    display: none;
    width: 100%;
  }

  ul.hamburger-show {
    display: flex;
    flex-wrap: wrap;
  }
}
