@import "shared/variables.css";
@import "shared/buttons.css";
body {
  background: linear-gradient(45deg, blue, aqua);
  height: 100vh;
  overflow: hidden;
}
.chat-container {
  width: 40%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
.chat-window {
  background: linear-gradient(45deg, darkblue, rgb(68, 68, 206));
  width: 50%;
  margin-top: 2rem;
  height: 70%;
  float: left;
  border: 2px solid var(--color-text-light);
  position: relative;
  overflow: scroll;
}
.chat-info {
  width: 99%;
  background: linear-gradient(45deg, darkblue, rgb(68, 68, 206));
  border: 2px solid var(--color-text-light);
  border-top: 0;
  text-align: center;
  overflow: inherit;
  color: var(--color-base-chat);
}
.chat-window::-webkit-scrollbar {
  display: none;
}
.message-window {
  background-color: var(--color-text-light);
  width: 100%;
  text-align: center;
  height: auto;
  min-height: 20px;
  max-height: 100px;
  resize: vertical;
  margin-top: 0.05rem;
}
.chat-container button {
  width: 100%;
}
.user-list-window {
  background: linear-gradient(45deg, darkblue, rgb(68, 68, 206));
  width: 45%;
  margin-top: 2rem;
  height: 70%;
  border: 2px solid var(--color-text-light);

  /* overflow: scroll; */
  color: var(--color-base-chat);
  text-align: center;
  float: right;
}
.message-div {
  display: flex;
  flex-grow: 1;
  width: 99%;
  overflow: hidden;
}
.message-div span.message-container {
  padding: 0.5rem;
  /* background-color: red; */
  color: var(--color-base-chat);
  font-weight: bold;
  font-size: 1.2rem;
  word-wrap: normal;
  overflow: hidden;
  border-bottom: 1px solid var(--color-base-chat);
}
.time {
  font-size: 0.5rem;
  float: left;
  margin-top: -0.25rem;
  position: absolute;
}
.message-container {
  margin-top: 1rem;
  width: 100%;
  margin-right: 0.25rem;
}
.username {
  color: red; /* take from database later */
  margin-right: 0.25rem;
}
