@import "shared/variables.css";
@import "shared/header.css";
@import "shared/chat.css";
@import "shared/user-list.css";
@import "shared/buttons.css";
@import "shared/forms.css";
@import "shared/profil.css";
@import "shared/tables-details.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 2.5vmin;
}
:root {
  color: var(--color-base-chat);
  background: var(--background-linear-gradient);
  height: 100vh;
}
.site-header {
  font-size: 5vmax;
  font-weight: bold;
}
