.chat-scrollable {
  width: 100%;
  height: 40vh;
  max-height: 40vh;
  overflow: auto;
}

.chat-scrollable::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: gray;
}

.chat-scrollable::-webkit-scrollbar-thumb {
  background: rgb(64, 63, 63);
}

div.chat-section-wide {
  display: block;
}

div.chat-section {
  display: none;
}

div.chats-item {
  width: 100%;
  max-height: calc(50px + 5vmin);
  max-height: calc(50px + 5vmin);
  overflow-y: auto;
  overflow-wrap: break-word;
}

td.row-btn-send {
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  div.nav-chats {
    display: none;
  }

  div.nav-chats.hamburger-show {
    display: flex;
    width: 100%;
  }

  div.chats-list {
    font-size: 1.1vmax;
    max-height: calc(4px + 25vmin);
    overflow-y: auto;
    padding-right: 5%;
    border-bottom: 1px solid gray;
  }

  div.chats-item {
    width: 50%;
    height: 50%;
    overflow-wrap: normal;
    overflow-y: hidden;
  }

  div.chat-section-wide {
    display: none;
  }

  div.chat-section {
    display: block;
    width: 10%;
  }

  div.chat-section-right {
    float: right;
  }

  div.chat-online-users {
    display: none;
  }

  div.chat-online-users.hamburger-show {
    max-height: 15vmax;
    padding-right: 5%;
    width: 90%;
    display: flex;
    overflow-y: scroll;
    border-bottom: 1px solid gray;
  }
}
