<form action="" method="POST">
  <table class="table-details">
    <tr>
      <td class="table-details-header" colspan="2">Chat room</td>
    </tr>
    <tr>
      <td>Name </td>
      <td><input type="text" name="name" value="<%=chatRoom.name %>" /></td>
    </tr>

    <tr>
      <%- include("../partials/available-ranges-form", {ranges: ranges, containingRanges:chatRoom.availableRanges}) %>

    </tr>
  </table>
  <button class="btn-form-primary" type="submit">Edit</button>
</form>
<form action="?_method=DELETE" method="POST">
  <button class="btn-form-primary" type="submit">Delete</button>
</form>