<%-include("../partials/create-room-btn", {href: "chatrooms/create"});%>
<table class="table-details">
  <tr>
    <td>Chat rooms</td>
    <td>Ranges</td>
  </tr>
  <%chatRooms.forEach(room =>{ %>
  <tr>
    <td><%= room.name %></td>
    <td><%= room.availableRanges %></td>
    <td>
      <a href="chatrooms/edit/<%= room.id %>"
        ><button class="btn-form-small">Edit</button></a
      >
    </td>
  </tr>

  <% }) %>
</table>
