.primary-form label {
  display: flex;
  font-weight: bold;
  color: var(--color-base-chat-dark);
}
.primary-form button {
  display: block;
}
.primary-form input {
  background-color: var(--color-text-dark);
  color: var(--color-text-light);
}
