.table-details td:first-child {
  border-right: 0.2rem double var(--color-base-chat-dark);
  padding-right: 1vw;
  width: 50%;
}
.table-details {
  font-size: 3vmin;
}
.table-details td {
  padding-left: 0.3rem;

  font-weight: bold;
}
.table-details-big {
  font-size: 6vmin;
}
