:root {
  --color-base-hue: 110;
  --color-hue-offset: 180;
  --color-hue: calc(var(--color-base-hue) - var(--color-hue-offset));
  --color-base-chat: hsl(var(--color-base-hue), 81%, 86%);
  --color-base-chat-dark: hsl(var(--color-base-hue), 100%, 22%);
  --color-base-chat-inverted: hsl(var(--color-hue-offset), 100%, 80%);
  --color-base-chat-inverted-dark: hsl(var(--color-hue-offset), 100%, 25%);
  --color-background-dark: hsl(var(--color-base-hue), 54%, 12%);
  --color-background-light: hsl(var(--color-base-hue), 60%, 22%);
  --color-text-light: hsl(var(--color-base-hue), 100%, 88%);
  --color-text-dark: hsl(var(--color-base-hue), 100%, 23%);
  --background-linear-gradient-bright: linear-gradient(
    45deg,
    var(--color-base-chat),
    rgb(80, 80, 138)
  );
  --background-linear-gradient: linear-gradient(
    45deg,
    var(--color-background-dark),
    rgb(23, 43, 54)
  );
}
