<form action="" class="primary-form" method="POST">
  <label for="name"> Range name: </label>
  <input name="name" type="text" placeholder="Name" />
  <button class="btn-form-primary" type="submit">CREATE</button>
</form>
