<table class="table-details">
  <tr>
    <td>User</td>
    <td>Ranges</td>

  </tr>
  <%users.forEach(user =>{ %>
  <tr>
    <td><%= user.username %></td>
    <td><% user.ranges.forEach(range =>{ %>
      <%=range.name + " | " %>
      <%}) %>
    </td>
    <td>
      <a href="users/edit/<%= user.id %>"><button class="btn-form-small">Edit</button></a>
    </td>
    <td>
      <a href=""><button class="btn-form-small">BAN</button></a>
    </td>
    <td>
      <a href=""><button class="btn-form-small">UNBAN</button></a>
    </td>
  </tr>

  <% }) %>
</table>