body {
  margin: 0;
  overflow: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4 + 2vmin);
  color: white;
  overflow: hidden;
}

.chat-message-time {
  font-size: 1.3vmin;
  color: yellow;
}

.chat-message-sender {
  color: lightseagreen;
}

.chat-scrollable {
  width: 100%;
  height: 60vh;
  max-height: 60vh;
  overflow: auto;
}

.chat-scrollable::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: gray;
}

.chat-scrollable::-webkit-scrollbar-thumb {
  background: rgb(64, 63, 63);
}
/* MENU */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Lucida Console", "Courier New", monospace;
  justify-content: space-between;
  padding: 15px;
}

.nav-ul {
  display: flex;
  align-items: center;
  font-size: 2vmax;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.nav-ul li .nav-li-link,
.nav-ul li .nav-li-button {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.home-site-link {
  font-size: 5vmax;
  text-decoration: none;
  color: black;
}

.nav-ul li .nav-li-link:hover,
.home-site-link:hover {
  color: darkgray;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
}
/* MOBILE */

@media screen and (max-width: 767px) {
  .nav-ul {
    display: none;
    width: 100%;
  }

  .nav-ul.show {
    display: contents;
  }

  .hamburger {
    display: flex;
  }
}
