body {
  margin: 0;
  overflow: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4 + 2vmin);
  color: white;
  overflow: hidden;
}

.chat-message-time {
  font-size: 1.3vmin;
  color: yellow;
}

.chat-message-sender {
  color: lightseagreen;
}

.chat-scrollable {
  width: 100%;
  height: 60vh;
  max-height: 60vh;
  overflow: auto;
}

.chat-scrollable::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: gray;
}

/* Add a thumb */
.chat-scrollable::-webkit-scrollbar-thumb {
  background: rgb(64, 63, 63);
}
