div.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.register-form label {
  text-align: center;
}

div.register-form > div {
  width: 80%;
}

div.register-form button,
div.register-form label {
  margin-top: 2px;
  width: 100%;
}
