<!DOCTYPE html>
<html lang="en">

<head><%- include("../partials/layoutHead")%></head>


<body>
  <%#- include("../partials/header-authenticated.ejs") %><%-
    include("../partials/header-admin.ejs") %> <%- body %>
  <br />
</body>

</html>